:root { 
    --x-color: rgb(219, 94, 63);
    --o-color: rgb(52, 121, 199);
}

body { 
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title { 
    font-size: 3em;
    text-transform: uppercase;
}

h2 { 
    font-size: 2.5em;
    margin: 5px;
}

h2.title { 
    font-size: 2.75em;
    margin-bottom: 20px;
}

.center { 
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.player-option { 
    display: inline;
}

.player-option label { 
    display: inline-block;
    font-size: 4em;
    margin: 5px;

    transition: transform 0.25s;
}

.player-option label:hover { 
    cursor: pointer;
    transform: scale(1.25);
}

input[type = "radio"] {
    display: none;
}

#mode-options, #board-options { 
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#mode-options { 
    flex-direction: column;
}

.mode-option, .board-option { 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid silver;
    border-radius: 15px;
    font-size: 2em;
    transition: 0.15s;
}

.mode-option { 
    min-width: 175px;
    padding: 5% 10%;
}

.board-option { 
    padding: 12% 10%;
}

.mode-option:hover, .board-option:hover { 
    cursor: pointer;
    border-radius: 10px;
    border-color: white;
    transform: scale(1.05);
}

#game { 
    display: none;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    flex-direction: column;
}

#turn { 
    margin-bottom: 0.5em;
    text-transform: capitalize;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-auto-rows: 200px;
    width: 700px;
    aspect-ratio: 1;
}

.cell { 
    font-size: 6em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    transition: color 0.25s;
}

.cell.no-top { 
    border-top: 0;
}

.cell.no-left { 
    border-left: 0;
}

.cell.no-right { 
    border-right: 0;
}

.cell.no-bot { 
    border-bottom: 0;
}

.x-color { 
    color: var(--x-color);
}

.o-color { 
    color: var(--o-color);
}

.scale-zero { 
    transform: scale(0);
}

.scale-transition { 
    transition: transform 0.2s;
}

#winner { 
    text-transform: uppercase;
}

#play-again { 
    padding: 5% 10%;
    margin-top: 35px;
    background: none;
    border: 2px solid silver;
    border-radius: 15px;
    font-size: 1.35em;
    text-transform: capitalize;
    color: white;
    transition: 0.15s;
}

#play-again:hover { 
    cursor: pointer;
    border-color: white;
    border-radius: 10px;
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    #board {
        width: 250px;
    }

    .cell {
        font-size: 2em;
    }
}